.contact
    .contact__top
        img.contact__img(src="./img/CONTACT_ICON.png", alt="")
        p.contact__title CONTACT
        hr.contact__line
    table.contact__table
        tbody.contact__tbody
            tr.contact__tr
                td.contact__head ADDRESS
                td.contact__text Main Street, City.
            tr.contact__tr
                td.contact__head E-MAIL
                td.contact__text contact@domain.com
            tr.contact__tr
                td.contact__head PHONE
                td.contact__text 555-555-555
            tr.contact__tr
                td.contact__head WEBSITE
                td.contact__text www.yourweb.com