.contact
    .contact__top
        img.contact__img(src="./img/CONTACT_ICON.png", alt="")
        p.contact__title CONTACT
        hr.contact__line
    .contact__content
        p.contact__header ADDRESS