.contact__top {
    margin: 80px 5px 10px 10px;
}

img.contact__img {
    display: inline-block;
    vertical-align: middle;
}

p.contact__title {
    color: #3d6cb0;
    font-family: "Myriad Pro";
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 0 17px;
    letter-spacing: 0.07em;
}

hr.contact__line {
    border: none;
    background-color: #3d6cb0;
    height: 8px;
    width: 230px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 5px;
}

table.contact__table {
    margin: 20px 0 10px 0;
}

td.contact__head {
    color: #3d6cb0;
    font-family: "Myriad Pro";
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    width: 190px;
    margin-left: 5px;
    display: inline-block;
}

td.contact__text {
    height: 27px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 32px;
    font-weight: 400;
}