.profile {
    margin-top: 110px;
}

img.profile__img {
    display: inline-block;
    vertical-align: middle;
    fill: red;
}

p.profile__title {
    // width: 233px;
    height: 56px;
    color: #3d6cb0;
    font-family: "Myriad Pro";
    font-size: 64px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

hr.profile__line {
    border: none;
    background-color: #3d6cb0;
    height: 8px;
    width: 261px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

p.profile__text {
    // width: 639px;
    // height: 367px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;

}