.experience
    .experience__top
        img.experience__img(src="./img/EXPERIENCE_ICON.png", alt="")
        p.experience__title EXPERIENCE
        hr.experience__line
    .experience__content
        ul
            li.experience__li
                p.experience__company COMPANY NAME
                p.experience__date // Feb 2011 - Jun 2014
                p.experience__job YOUR JOB HERE
                p.experience__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li.experience__li
                p.experience__company COMPANY NAME
                p.experience__date // Feb 2011 - Jun 2014
                p.experience__job YOUR JOB HERE
                p.experience__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li.experience__li
                p.experience__company COMPANY NAME
                p.experience__date // Feb 2011 - Jun 2014
                p.experience__job YOUR JOB HERE
                p.experience__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
