img.experience__img {
    display: inline-block;
    vertical-align: middle;
}

p.experience__title {
    // width: 233px;
    height: 56px;
    color: #3d6cb0;
    font-family: "Myriad Pro";
    font-size: 64px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

hr.experience__line {
    border: none;
    background-color: #3d6cb0;
    height: 8px;
    width: 482px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

li.experience__li {
    list-style: square url("./img/circle.png");
}

p.experience__company {
    // width: 298px;
    // height: 28px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

p.experience__date {
    // width: 365px;
    // height: 32px;
    color: #020202;
    font-family: "Myriad Pro";
    font-size: 40px;
    font-weight: 400;
    display: inline-block;
}

p.experience__job {
    // width: 303px;
    // height: 28px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

p.experience__text {
    // width: 860px;
    // height: 80px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
}