.skills
    .skills__top
        img.skills__img(src="./img/SKILLS_ICON.png", alt="")
        p.skills__title SKILLS
        hr.skills__line
    .skills__content
        p.skills__header CREATIVE 
        .slills__bar
            - for (var x = 0; x < 9; x++)
                .skills__round
            - for (var x = 0; x < 3; x++)
                .skills__round-empty
        p.skills__header TEAMWORK 
        .slills__bar
            - for (var x = 0; x < 11; x++)
                .skills__round
            - for (var x = 0; x < 1; x++)
                .skills__round-empty
        p.skills__header INNOVATE 
        .slills__bar
            - for (var x = 0; x < 6; x++)
                .skills__round
            - for (var x = 0; x < 6; x++)
                .skills__round-empty
        p.skills__header COMMUNICATION 
        .slills__bar
            - for (var x = 0; x < 11; x++)
                .skills__round
            - for (var x = 0; x < 1; x++)
                .skills__round-empty


