@import './blocks/card/card.scss';
@import './blocks/profile/profile.scss';
@import './blocks/contact/contact.scss';
@import './blocks/skills/skills.scss';
@import './blocks/education/education.scss';
@import './blocks/experience/experience.scss';
@import './blocks/software/software.scss';

@font-face{
    font-family: 'Myriad Pro Light Semi Ext';
    src: url('./fonts/Myriad-Pro-Light-SemiExtended.ttf');
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'Myriad Pro';
    src: url('./fonts/Myriad-Pro.ttf');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
}

.content {
    max-width: 1920px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-column-gap: 90px;
    grid-auto-flow: row;
    margin: 0 85px;
}

@media (max-width: 1915px) {
    hr {
        width: 100% !important;
        margin: 40px 0 0 0 !important;
    }
}

@media (max-width: 1160px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 7%;
    }
}

