@import './blocks/card/card.scss';
@import './blocks/profile/profile.scss';
@import './blocks/contact/contact.scss';
@import './blocks/skills/skills.scss';
@import './blocks/education/education.scss';
@import './blocks/experience/experience.scss';
@import './blocks/software/software.scss';

@font-face{
    font-family: 'Myriad Pro Light Semi Ext';
    src: url('./fonts/Myriad-Pro-Light-SemiExtended.ttf');
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'Myriad Pro';
    src: url('./fonts/Myriad-Pro.ttf');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
}

.content {
    max-width: 1920px;
    margin: 0 90px;
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

@media (max-width: 1200px) {
    .content {
        display: block;
    }

    .left {
        width: 100%;
        margin: auto;
    }
    
    .right {
        width: 100%;
        margin: auto;
    }
}