@import './blocks/card/card.scss';
@import './blocks/profile/profile.scss';
@import './blocks/contact/contact.scss';
@import './blocks/skills/skills.scss';
@import './blocks/education/education.scss';
@import './blocks/experience/experience.scss';
@import './blocks/software/software.scss';

@font-face{
    font-family: 'Myriad Pro Light Semi Ext';
    src: url('./fonts/Myriad-Pro-Light-SemiExtended.ttf');
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'Myriad Pro';
    src: url('./fonts/Myriad-Pro.ttf');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2300px;
    justify-content: space-between;
    // align-items: center;
    // margin: auto;
    width: 1920px;
}

.card {
    width: 35%;
    border: 1px solid #333;
    margin: 0 2.5%;
}

.profile {
    width: 35%;
    border: 1px solid #333;
    margin: 0 2.5%;
}

.contact {
    width: 35%;
    border: 1px solid #333;
    margin: 0 2.5%;
}

.skills {
    width: 35%;
    border: 1px solid #333;
    margin: 0 2.5%;
}

.education {
    width: 50%;
    border: 1px solid #333;
    margin: 0 2.5%;
}

.experience {
    width: 50%;
    border: 1px solid #333;
    margin: 0 2.5%;
}

.software {
    width: 50%;
    border: 1px solid #333;
    margin: 0 2.5%;
}
