.software
    .software__top
        img.software__img(src="./img/SOFTWARE_ICON.png", alt="")
        p.software__title SOFTWARE
        hr.software__line
    .software__content
        .softvare__skill
            p.software__head PHOTOSHOP
            .software__bar1
                .software__bar-inner1
        .softvare__skill
            p.software__head DREAMWEAVER
            .software__bar2
                .software__bar-inner2
        .softvare__skill
            p.software__head ILLUSTRATOR
            .software__bar3
                .software__bar-inner3
        .softvare__skill
            p.software__head AFTER EFFECTS
            .software__bar4
                .software__bar-inner4
        .softvare__skill
            p.software__head INDESIGN
            .software__bar5
                .software__bar-inner5
        .softvare__skill
            p.software__head HTML&amp;CSS3
            .software__bar6
                .software__bar-inner6
