.education
    .education__top
        img.education__img(src="./img/EDUCATION_ICON.png", alt="")
        p.education__title EDUCATION
        hr.education__line
    .education__content
        ul
            li.education__li
                p.education__master MASTER DEGREE
                p.education__date // Feb 2011 - Jun 2014
                p.education__university UNIVERSITY NAME
                p.education__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li.education__li
                p.education__master MASTER DEGREE
                p.education__date // Feb 2011 - Jun 2014
                p.education__university UNIVERSITY NAME
                p.education__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li.education__li
                p.education__master MASTER DEGREE
                p.education__date // Feb 2011 - Jun 2014
                p.education__university UNIVERSITY NAME
                p.education__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li.education__li
                p.education__master MASTER DEGREE
                p.education__date // Feb 2011 - Jun 2014
                p.education__university UNIVERSITY NAME
                p.education__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
